.header {
	width: 100%;
	height: 83px;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 5px;
}

	.logo {
		align-content: left;
		background-color: black;
		width: 21%;
		height: 83px;
		padding-left: 40px;
	}

	.navbar {
		width: 27%;
		height: 83px;
		background-color: black;
		justify-content: space-between;
		align-content: center;
		padding-left: 20px;
	}

.banner {
	width: 100%;
	height: 912px;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url(images/herobanner.jpg);
	background-position: 50%, 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

	.bannerbox {
		width: 33.33%;
		height: 912px;
		background-color:;
		display: flex;
		flex-direction:column;
		background-color:;

	}

	.bannerbox-top {
		width: 100%;
		height: 30px;
		text-align: center;
		background-color:;

	}

	.bannerbox-bottom {
		width: 100%;
		height: 882px;
		text-align: center;
		background-color: ;
		align-content: center;
		text-align: center;
	}


.mainarea {
	width: 100%;
	height: 1186px;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

	.mainbox {
		width: 44%;
		height: 1186px;
		background-color:black;
		justify-content: center;
		text-align: center;
		padding-left: 100px;
		padding-right: 100px;
		padding-top:100px;
	}

	.graphicboxL {
		width: 28%;
		height: 1186px;
		background-color: black;
		text-align: right;
	}

	.graphicboxR {
		width: 28%;
		height: 1186px;
		background-color: black;
	}

.footer{
	width: 100%;
	height: 109px;
	background-color: black;
	display: flex;
	justify-content: center;

}

.footerlinks {
	width: 22%;
	height: 100px;
	background-color: black
}

.footerinfo{
	width: 12%;
	height: 100px;
	background-color: black;
	text-align: center;

}

.subfooter{
	height: 50px;
	width: 100%;
	background-color: black;
	text-align: center;
	color: white;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* basic button design from online */

.buttonspecial {
  background-color: white;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.angandjack {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}



.basic-button {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.basic-regular {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.basic-body {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white;
}

.babylonica-regular {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
}

.babylonica-banner {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-size: 96px;
  color: white;
  font-style: normal;
}

.basic-banner {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 24px;
}

.babylonica-logo {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-size: 64px;
  color: white;
  font-style: normal;
}

.lexend-zetta-ourstory{
font-family: "lexend zetta", sans-serif;
font-weight: 400;
font-size: 64px;
color: white;

}

.lexend-zetta-footer {
font-family: "lexend zetta", sans-serif;
font-weight: 400;
font-size: 16px;
color: white;
}

.basic-footer {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
}

.gradient-to-bottom {
	 mask-image: linear-gradient( black, transparent);

}
